.model{
    width: 33.33%;
    height: 100%;
    background-color: #E8FDFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 500px) {
    .model{
        width: 100%;
        overflow: auto;
        justify-content: space-between;
    }
}